bin/
obj/
appsettings.Production.json
appsettings.Development.json
*.env
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.DotSettings.user
.vscode/
*.pfx
*.p12
launchSettings.json
wwwroot/uploads/
wwwroot/images/
*.zip
logs/
*.log
.DS_Store
Thumbs.db
desktop.ini
*.nupkg
.nuget/
packages/
node_modules/
*.dll
*.exe
*.pdb
Properties/PublishProfiles/
