@page "/ResetPassword"
@using HotelReservationWeb.Pages.Accounts.User.DTOs_Client
@model HotelReservationWeb.Pages.Accounts.User.DTOs_Client.UserRegistration
@{
    Layout = null;
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="/css/Userlogin.css" />

<div class="container">
    <div class="user-log">
        <p class="user-descript">Enter your new password below to reset your account password</p>

        <div class="input-wrapper">
            <input id="newPassword" type="password" placeholder=" " required />
            <label for="newPassword">New Password</label>
            <span class="toggle-pass" onclick="togglePass(this)">
                <span class="material-icons">visibility</span>
            </span>
        </div>
        <span class="error-text" id="new-password-error"></span>

        <div class="input-wrapper">
            <input id="confirmPassword" type="password" placeholder=" " required />
            <label for="confirmPassword">Confirm Password</label>
            <span class="toggle-pass" onclick="togglePass(this)">
                <span class="material-icons">visibility</span>
            </span>
        </div>
        <span class="error-text" id="confirm-password-error"></span>

        <button id="resetBtn" class="user-button">Reset Password</button>
    </div>
</div>

<div id="toast-container" class="toast-container"></div>

<script src="/js/ResetPassword.js"></script>
